<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Charts</title>
</head>
<body ng-app="app">
    @RenderBody()
    <!--inject:js-->
    <script src="~/js/libs/Chart.js"></script>
    <script src="~/js/libs/angular.js"></script>
    <!--endinject-->
    <script src="~/js/site.js"></script>
</body>
</html>
